/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: primary;
    src: url(./font/EuropeanTypewriter.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p, span, div, a, li, button {
    font-family: primary;
    color: white;
}

.title-lg {
    font-size: 48px;
}

.title-md {
    font-size: 32px;
}

.title-sm {
    font-size: 24px;
}

.text-lg {
    font-size: 32px;
}

.text-md {
    font-size: 24px;
}

.text-sm {
    font-size: 16px;
}

.center {
    text-align: center;
}


:root {
    --color-slate-900: #020617;
    --padding-1: 4px;
    --padding-2: 8px;
    --padding-3: 12px;
    --padding-4: 16px;
    --padding-6: 24px;
    --padding-8: 32px;
    --padding-12: 48px;
    --padding-16: 64px;
    --padding-24: 96px;
    --padding-32: 128px;
}
