
.page-section-list {
    // border: 1px dashed red;
    padding: var(--padding-32) 0;
    display: flex;
    flex-direction: column;
    gap: var(--padding-32);
    .page-section {
        border: 1px dashed blue;
        display: flex;
        justify-content: center;
        .page-section-inner {
            // border: 1px dashed red;
        }
        // &.top_border {
        //     border-top: 1px solid white;
        // }

        // &.btm_border {
        //     border-top: 1px solid white;
        // }

    }
}

.underline {
    border-bottom: 1px solid white;
}